App_WebReferences/com/statsxp/svc/StatsXP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://svc.statsxp.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://svc.statsxp.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://svc.statsxp.com/">
      <s:element name="RegisterHit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncodedPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SiteID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TextIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Referrer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserAgent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Browser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BrowserVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Cookies" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="ActiveXControls" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="CDF" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Frames" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="JavaApplets" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="JavaScript" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="Tables" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="vbScript" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="CLRVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="w3cDOMVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Resolution" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Colors" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jScriptVersion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IsMobileDevice" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileDeviceManufacturer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileDeviceModel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterHitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterHitResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncodePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncodePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncodePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterHitSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterHit" />
  </wsdl:message>
  <wsdl:message name="RegisterHitSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterHitResponse" />
  </wsdl:message>
  <wsdl:message name="EncodePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:EncodePassword" />
  </wsdl:message>
  <wsdl:message name="EncodePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:EncodePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="StatsXP_ServiceSoap">
    <wsdl:operation name="RegisterHit">
      <wsdl:input message="tns:RegisterHitSoapIn" />
      <wsdl:output message="tns:RegisterHitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EncodePassword">
      <wsdl:input message="tns:EncodePasswordSoapIn" />
      <wsdl:output message="tns:EncodePasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatsXP_ServiceSoap" type="tns:StatsXP_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterHit">
      <soap:operation soapAction="http://svc.statsxp.com/RegisterHit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncodePassword">
      <soap:operation soapAction="http://svc.statsxp.com/EncodePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StatsXP_ServiceSoap12" type="tns:StatsXP_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterHit">
      <soap12:operation soapAction="http://svc.statsxp.com/RegisterHit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncodePassword">
      <soap12:operation soapAction="http://svc.statsxp.com/EncodePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatsXP_Service">
    <wsdl:port name="StatsXP_ServiceSoap" binding="tns:StatsXP_ServiceSoap">
      <soap:address location="http://svc.statsxp.com/StatsXP.asmx" />
    </wsdl:port>
    <wsdl:port name="StatsXP_ServiceSoap12" binding="tns:StatsXP_ServiceSoap12">
      <soap12:address location="http://svc.statsxp.com/StatsXP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>